
.App {
  /* text-align: center; */
}
.My-Header{
  background-color: #07022d;
  height: auto;
  width: auto;
  color: aliceblue;
}
.Top-Bar{
  background-color: #111;
  color: #fff;
  width: 100%;
  height: 40px;
}
.Hamburger{
  cursor: pointer;
}