body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1b5d15;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.Page-Heading{
  margin-bottom: 0px;
}

.Category-Name{
  /* font-weight: normal; */
  margin-bottom: 0px;
  text-align: center;
  margin: 0 auto;
}
.product-pics {
  width: 150px; /* adjust the value to your desired size */
  height: 150px; /* adjust the value to your desired size */
  margin: 25px;
  transition: transform 0.5s;
}
.product-pics:hover{
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
}
.Category-container{
  max-width: 100vw;
}
.pic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-pics {
  margin-bottom: 10px; /* add some space between the image and the text */
}

/*Popup ellement*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 80%; /* adjust the max width as needed */
  margin: 40px auto; /* add some margin to center the popup */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.popup-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}
.popup-image {
  width: 100%;
  height: 200px; /* adjust the height as needed */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* add some rounded corners */
}